@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.cdnfonts.com/css/google-sans');

@import url('https://roud-rock-bicycle-repair.vercel.app/font.css');

/* 
font-family: 'Product Sans',
sans-serif;
font-family: 'Product Sans Thin',
sans-serif;
font-family: 'Product Sans Light',
sans-serif;
font-family: 'Product Sans Medium',
sans-serif;
font-family: 'Product Sans Black',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ProductFontRegular: 'Product Sans',
        sans-serif;
    --ProductFontThin: 'Product Sans Thin',
        sans-serif;
    --ProductFontLight: 'Product Sans Light',
        sans-serif;
    --ProductFontMedim: 'Product Sans Medium',
        sans-serif;
    --ProductFontBlack: 'Product Sans Black',
        sans-serif;
    --SF-font: 'SF Pro Display';
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* home */
.home {
    padding: 100px 0 290px 0;
    width: 100%;
    background: url('./images/home-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .container .home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 157px;
}

.home .container .home-container .logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    text-decoration: none;
}

.home .container .home-container .logo .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.home .container .home-container .logo .text span:first-child {
    color: var(--Gray-2, #4F4F4F);
    font-family: var(--SF-font);
    font-size: 64px;
    font-weight: 700;
}

.home .container .home-container .logo .text span:last-child {
    color: var(--Gray-2, #4F4F4F);
    font-family: var(--SF-font);
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 10.665px;
}

.home .container .home-container .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.home .container .home-container .content .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.home .container .home-container .content .title span:first-child {
    color: var(--Gray-2, #4F4F4F);
    font-family: var(--SF-font);
    font-size: 34px;
    font-weight: 300;
}

.home .container .home-container .content .title span:last-child {
    color: var(--Red, #EB5757);
    font-family: var(--SF-font);
    font-size: 115px;
    font-weight: 900;
}

.home .container .home-container .content .desc {
    width: 361px;
    color: var(--Gray-2, #4F4F4F);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.home .container .home-container .content .btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.btn {
    color: var(--Gray-1, #333);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 52px;
    border-radius: 40px;
    background: var(--Yellow, #F2C94C);
    border: none;
    outline: none;
}

.home .container .home-container .content .btns .link {
    text-decoration: none;
    color: var(--Red, #EB5757);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.services-about>.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.services-about>.container .title,
.about>.container .title,
.gallery>.container .title {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.services-about>.container .title span:first-child,
.about>.container .title span:first-child,
.gallery>.container .title span:first-child {
    color: var(--Gray-2, #4F4F4F);
    font-family: var(--SF-font);
    font-size: 30px;
    font-weight: 300;
}

.services-about>.container .title span:last-child,
.about>.container .title span:last-child,
.gallery>.container .title span:last-child {
    color: var(--Red, #EB5757);
    font-family: var(--SF-font);
    font-size: 96px;
    font-weight: 900;
}

.services-about .content {
    width: 100%;
    background: url('./images/services-bg.png') no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
}

.services-about .content .container {
    padding: 60px 77px 132px 77px;
}

.services-about .content .container .items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 72px;
}

.services-about .content .container .items .cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-about .content .container .items .item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    width: 322px;
    background: #FFF;
}

.services-about .content .container .items .item .img {
    width: 322px;
    height: 228px;
    background: url('./images/service.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px 30px 0 0;
}

.services-about .content .container .items .item .bottom {
    padding: 20px 0 56px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.services-about .content .container .items .item .bottom .desc {
    color: var(--Gray-1, #333);
    text-align: center;
    font-family: var(--SF-font);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.services-about .content .container .items .item .bottom a {
    position: absolute;
    bottom: calc(-49px / 2);
    color: #FFF;
    text-align: center;
    font-family: var(--ProductFontBlack);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 70px;
    border-radius: 18px;
    background: linear-gradient(90deg, #EB7598 0%, #FF926F 100%);
    box-shadow: 0px 10px 25px 0px rgba(251, 112, 112, 0.45);
    text-decoration: none;
}

.about {
    background: url('./images/about-bg.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    padding-bottom: 110px;
}

.about .content .container {
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.about .content .container .items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.about .content .container .items .cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .content .container .items .item {
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.id {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D89595;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid #D89595;
    border-radius: 9999px;
}

.about .content .container .items .item .desc {
    color: var(--Gray-2, #4F4F4F);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.about .content .container .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.about .content .container .btns .link {
    text-decoration: none;
    color: #D89595;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

/* gallery */
.gallery .container .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
    padding-bottom: 50px;
}

.gallery .container .items .item {
    width: 282px;
    height: 282px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

/* contact */
.contact {
    padding: 0 0 50px 0;
    position: relative;
}

.contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #FFFFFF80;
    z-index: 0;
}

.contact .content {
    padding: 100px 110px 140px 110px;
    width: 100%;
    position: relative;
    z-index: 1;
    background: #E15252;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.contact .content .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.contact .content .text .title {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-family: var(--SF-font);
}

.contact .container .text .desc {
    color: var(--Gray-1, #333);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.contact .container .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.contact .container .bottom .form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}

.contact .container .bottom .form input {
    width: 374px;
    height: 56px;
    padding: 20px;
    border: none;
    outline: none;
    color: #E15252;
    border-radius: 51px;
    font-size: 18px;
    background: #FFF;
}

.contact .container .bottom .form input::placeholder {
    font-size: 18px;
}

.contact .container .bottom .form button {
    width: 168px;
    height: 56px;
    padding: 20px;
    border: none;
    outline: none;
    color: #FFF;
    border-radius: 51px;
    font-size: 18px;
    border: 3px solid #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all .3s ease;
}

.contact .container .bottom .form button:hover,
.contact .container .bottom .form button:focus {
    background: #FFFFFF;
    color: #E15252;
}

.contact .container .bottom .data {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact .container .bottom .data .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.contact .container .bottom .data .list .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.contact .container .bottom .data .list .item svg {
    width: 24px;
}

/* contact end */